// Clock definition
NET "clk50M" LOC = B8;
NET "clk50M" PERIOD = 20.0ns HIGH 50%;

// Joystick
NET "j2_cs" LOC = L15; // JA1
NET "j2_mosi" LOC = K12; // JA2
NET "j2_miso" LOC = L17; // JA3
NET "j2_sck" LOC = M15; // JA4
NET "j1_cs" LOC = M13; // JB1
NET "j1_mosi" LOC = R18; // JB2
NET "j1_miso" LOC = R15; // JB3
NET "j1_sck" LOC = T17; // JB4

// VGA
NET "red[0]" LOC = R9;
NET "red[1]" LOC = T8;
NET "red[2]" LOC = R8;

NET "green[0]" LOC = N8;
NET "green[1]" LOC = P8;
NET "green[2]" LOC = P6;

NET "blue[0]" LOC = U5;
NET "blue[1]" LOC = U4;

NET "HS" LOC = T4;
NET "VS" LOC = U3;

// Seven seg

NET "disp_select[3]" LOC = F15; //AN3		// Add the pins for your FPGA here
NET "disp_select[2]" LOC = C18; // AN2
NET "disp_select[1]" LOC = H17; //AN1
NET "disp_select[0]" LOC = F17; //AN0
NET "seven_value[0]" LOC = C17;
NET "seven_value[1]" LOC = H14;
NET "seven_value[2]" LOC = J17;
NET "seven_value[3]" LOC = G14;
NET "seven_value[4]" LOC = D16;
NET "seven_value[5]" LOC = D17;
NET "seven_value[6]" LOC = F18;
NET "seven_value[7]" LOC = L18;

//Speaker
NET "speaker" LOC = G15;


//Debug
NET "isMoving" LOC = J15;
NET "restart" LOC = J14;
NET "collided[0]" LOC = K15;
NET "collided[1]" LOC = K14;
